@import "tailwindcss";

@theme {
    --animate-wiggle: wiggle 2s ease-in-out infinite;
}

@keyframes wiggle {
    0%, 100% { transform: translate(-50%, -50%) rotate(-6deg); }
    25% { transform: translate(-50%, -50%) scale(1.30); }
    50% { transform: translate(-50%, -50%) rotate(6deg); }
    75% { transform: translate(-50%, -50%) scale(1.30); }
}
